.contenedor1{
    width: 200px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: -10px;
  }
  .cabeza {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70px; 
      width: 70px;
      display: block;
      margin-inline: auto;
    }
    .imagen {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 50%;   
    }
    
  .nombre{
      color: var(--White);
      /* font-family: 'Inter'; */
      font-size:medium;
      margin-top: 8px;
      margin-bottom: 0px;
      /* font-weight: 700; */
    }
  .nacionalidad{
      color: var(--Green);
      margin: 5px;
      font-size: x-small;
    }
  .descripcion{
      color: var(--White);
      font-family: 'Inter';
      font-size: x-small;
      margin-top: 6px;
      margin-bottom: 5px;
    }
  
    .inter-Normal {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
    }