.attribution{
    margin-top: 10px;
    color: var(--White);
    font-size: xx-small;
  }
  .inter-ligero {
    font-family: "InterLigero", sans-serif;
    font-optical-sizing: auto;
    font-style: Light;
    font-variation-settings:
      "slnt" 0;
  }